/*Codes By MAHDI Tasha*/
/*Importing Poppins Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/*Variables*/
:root {
    --red: #E94560;
    --purple: #533483;
    --blue: #0F3460;
    --dark-blue: #16213E;
    --shadow: 12px 20px 0 rgb(0,0,0);
}

/*CSS RESET*/
button {cursor: pointer;transition: .3s;}
img {pointer-events: none}
a {text-decoration: none !important}
code {display: block !important;padding: 0 !important;background-color: transparent !important;}

body {
    overflow-x: hidden;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', "Roboto Light", 'Verdana' ,sans-serif;
    background-color: var(--red) !important;
}

/*Style*/
#js-input {user-select: all;}
h1 {text-shadow: 5px 0 0 rgb(0,0,0)}
textarea::-webkit-scrollbar, #JS-input::-webkit-scrollbar {background-color: var(--dark-blue);cursor: pointer !important }
textarea::-webkit-scrollbar-thumb, #JS-input::-webkit-scrollbar-thumb {background-color: var(--purple);}
#JS-input {background-color: var(--dark-blue);}
textarea {background-color: #fff;}

button[type='submit'] {
    width: 50px;
    height: 50px;
    right: 50%;
    top: 50%;
    transform: translateY(-100%) translateX(65%);
    background-color: var(--blue);
    border: 2px solid var(--red);
}

textarea, #JS-input {
    height: 25rem !important;
    outline: none;
    border: 5px solid transparent;
    box-shadow: var(--shadow);
    transition: .3s;
    resize: none !important;
}

/*Focus, Hover, Active*/
textarea:focus {border-color: var(--blue);}
button[type='submit']:is(:hover, :active, :focus, :focus-within) {background-color: var(--dark-blue);}

/*Media Querys*/
@media (max-width: 768px) {
    textarea {height: 10rem;}
    button[type='submit'] {
        border-radius: 0 !important;
        position: static !important;
        width: 100%;
        transform: translateY(0) translateX(0);
        border: none !important;
    }
}