/*Codes By MAHDI Tasha*/
/*Importing Poppins Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/*Variables*/
:root {
    --red: #E94560;
    --purple: #533483;
    --blue: #0F3460;
    --dark-blue: #16213E;
    --shadow: 12px 20px 0 rgb(0,0,0);
}

/*CSS RESET*/
button {cursor: pointer;transition: .3s;}
img {pointer-events: none}
a {text-decoration: none !important}

body {
    overflow-x: hidden;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', "Roboto Light", 'Verdana' ,sans-serif;
    background-color: var(--red) !important;
}

/*Style*/
#js-input {user-select: all;}
h1 {text-shadow: 5px 0 0 rgb(0,0,0)}
textarea {
    height: 25rem !important;
    outline: none;
    background-color: white;
    border: 5px solid transparent;
    box-shadow: var(--shadow);
    transition: .3s;
    resize: none !important;
}

/*Focus, Hover, Active*/
textarea:focus {border-color: var(--purple);}

@media (max-width: 575px) {
    textarea {height: 10rem;}
}